body{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
}

.logo{margin: auto;
  width:428px;
  text-align: center;
}

.main{
  margin: auto;
  width:368px;
  text-align: center;
}
